@import 'tailwindcss';

@theme {
  --color-primary: #ffd60a;
  --сolor-grey: #f5f5f5;
}

.animate-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.animate-up.in-view {
  opacity: 1;
  transform: translateY(0);
}
